@charset "UTF-8";

/* Typical Device Breakpoint:
---------------------------------
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px

*/

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

@keyframes animation1{
    from{
        transform: translateX(-386px);
    }

    to{
        transform: translate(0px);
    }
}

@keyframes animation2{
    from{
        transform: translateX(386px);
    }

    to{
        transform: translate(0px);
    }
}


:root{
    --cor1: #D06CFC;
    --cor2: #725B7C;
    --cor3: #E7B8FC;
    --cor4: #67357C;
    --cor5: #B893C9;
}

body{
    width: 98vw;
    overflow-x: hidden;
}

section{
    padding: 30px;
}

section > div > img{
    max-width: 100%;
    display: block;
    margin: auto;
}

section > div > h1.title{
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

section > div > h2.title{
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

section > div > p.text{
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
}

section > div.img1{
    margin: auto;
    animation-name: animation1;
    animation-duration: 2s;
}

section > div.img2{
    margin: auto;
    animation-name: animation2;
    animation-duration: 2s;
}


#org{
    background-color: black;
    text-align: center;
}

section#cell{
    background-image: linear-gradient(45deg, var(--cor1), var(--cor4));
}

section#nucleus{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
}

section#er{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}

section#vacuole{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
}

section#mitochondria{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
}

section#lysosome{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
}

section#golgi{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
}

section#centrosome{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}

footer{
    background-color: black;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: var(--cor1);
}