@charset "UTF-8";

/* Typical Device Breakpoint:
---------------------------------
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px

*/

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

:root{
    --cor1: #D06CFC;
    --cor2: #725B7C;
    --cor3: #E7B8FC;
    --cor4: #67357C;
    --cor5: #B893C9;
}

body{
    width: 98vw;
    overflow-x: hidden;
}

section{
    padding: 30px;
}

section > div > img{
    max-width: 100%;
    display: block;
    margin: auto;
}

section > div > h1.title{
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

section > div > h2.title{
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

section > div > p.text{
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
}

section > div.img{
    margin: auto;
}

#org{
    background-color: black;
    text-align: center;
}

section#cell{
    background-color: var(--cor1);
}

section#nucleus{
    background-color: var(--cor2);
}

section#er{
    background-color: var(--cor3);
}

section#vacuole{
    background-color: var(--cor4);
}

section#mitochondria{
    background-color: var(--cor1);
}

section#lysosome{
    background-color: var(--cor2);
}

section#golgi{
    background-color: var(--cor3);
}

section#centrosome{
    background-color: var(--cor4);
}

footer{
    background-color: black;
    text-align: center;
}