@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: justify;
}

:root{
    --cor1: #D06CFC;
    --cor2: #725B7C;
    --cor3: #E7B8FC;
    --cor4: #67357C;
    --cor5: #B893C9;
}

body{
    width: 320px;
}


section#cell{
    background-color: var(--cor1);
}

section#nucleus{
    background-color: var(--cor2);
}

section#er{
    background-color: var(--cor3);
}

section#vacuole{
    background-color: var(--cor4);
}

section#mitochondria{
    background-color: var(--cor1);
}

section#lysosome{
    background-color: var(--cor2);
}

section#golgi{
    background-color: var(--cor3);
}

section#centrosome{
    background-color: var(--cor4);
}

footer{
    color: white;
    background-color: black;
    text-align: center;
}